@import "../../../../styles/variables";

:host, incrementor
{
	position: relative;
	display: flex;
	min-height: 45px;
	
	padding: 0;
	
	color: $defaultTextColor;
	
	border: $borderWidth solid $borderColor;
	border-radius: 5px;
	
	.details, .controls, .image, .index, .gap {
		-webkit-box-flex: 1;    
		-moz-box-flex: 1;       
		width: 50%;           
		-webkit-flex: 1;      
		-ms-flex: 1;          
		flex: 1; 
		position: relative;
	}
	

	.details {
		display: flex;
	}
	.image {
		img {
			left: 50%;
			top: 50%;
			max-height: 50%;
			position: absolute;
			user-select: none;
			transform: translate(-50%,-50%);
		}
	}
	.index { 
		h1 {
			font-size: 26px;
			text-align: center;
			line-height: 26px;
			user-select: none;
			margin: 11px;
		}
	}
	
	.controls {
		.plus,.minus {
			position: absolute;
			width: 50%;
			height: 100%;
			
			h1 {
				text-align: center;
				font-size: 36px;
				margin: 0;
				line-height: 36px;
				top: 50%;
				position: absolute;
				left: 50%;
				transform: translate(-50%,-50%);
				user-select: none;
			}
		}
		.minus {
			left: 50%;
		}
	}
}